!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Cypress Test App
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  %body
    %p.notice= notice
    %p.alert= alert
    - if current_user
      = link_to 'Logout', '/users/logout'
    - else
      = link_to 'Login', '/users'
    = yield
